server {
  listen              0.0.0.0:8003;
  underscores_in_headers on;

  location / {
    root /usr/src/app/ui-people;
    try_files /build/$uri /build/index.html;
  }

  location /some-path/ui/ {
    # Remove /some-path/ui/ from the $uri variable
    rewrite  ^/apps/ga-portal/ui/(.*) $1 break;
    try_files /build/$uri /build/$uri/ 404;
  }

  location /app {
    proxy_pass http://localhost:8080;
  }

}
